<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>v-tweets</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet"> -->
    <link rel="stylesheet" href="src/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="src/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="src/assets/css/loader.css">
    <link rel="stylesheet" href="src/assets/css/main.css">
  </head>
  <body id="body">
    <div id="app">
      <div id="loader"></div>
      <div id="preloader">
        <div class="sk-folding-cube">
          <div class="sk-cube1 sk-cube"></div>
          <div class="sk-cube2 sk-cube"></div>
          <div class="sk-cube4 sk-cube"></div>
          <div class="sk-cube3 sk-cube"></div>
        </div>
      </div>
      <div id="particles-js">
        <div id="intro">
          <navbar></navbar>

          <div id="content" align="center">
              <tweets></tweets>
          </div>

          <div style="margin-top:43%;position: fixed; top: 0; margin-left:80%">
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
            <div class="dropdown dropup" >
              <button class="btn btn-primary dropdown-toggle dropup" type="button" data-toggle="dropdown" @click="GetTrends();">
                <i id="spin" class="fa fa-twitter" aria-hidden="true"></i> Tendencias
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropup" style="z-index : 99999;margin-left:-50px;" id="trends" v-if="trends">
                <li v-for="(trend,index) in trends">
                  <a href="#" v-on:click="tweets(trend.name)">{{index}} {{trend.name}}</a>
                </li>
              </ul>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      window.onload = function(){
        var preloader = document.getElementById('preloader');
        preloader.style.visibility = 'hidden';
        preloader.style.opacity = '0';
      }
    </script>
    <script src="/dist/build.js"></script>
    <script type="text/javascript" src="src/assets/particles-js/particles.js"></script>
    <script type="text/javascript" src="src/assets/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="src/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="src/assets/particles-js/config.js"></script>
    <script type="text/javascript" src="src/assets/js/myscript.js"></script>
    <script src="src/main.js"></script>
  </body>
</html>
