
body {
	background: #f8f8f8;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #ffa456; text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 { margin-top: 10px; font-size: 38px; font-weight: 100; color: #555; line-height: 50px; }
h3 { font-size: 22px; font-weight: 300; color: #555; line-height: 30px; }

img { max-width: 100%; }

.medium-paragraph { font-size: 18px; line-height: 34px; }

::-moz-selection { background: #ffa456; color: #fff; text-shadow: none; }
::selection { background: #ffa456; color: #fff; text-shadow: none; }


/***** General style, all sections *****/

.section-container { margin: 0 auto; padding-bottom: 80px;}

.section-container-image-bg,
.section-container-image-bg h2,
.section-container-image-bg h3 { color: #fff; }

.section-container-image-bg .divider-1 .line { border-color: #fff; opacity: 0.8; }

.section-description { margin-top: 60px; padding-bottom: 10px; }

.section-description p { margin-top: 20px; padding: 0 120px; }
.section-container-image-bg .section-description p { opacity: 0.8; }


/***** Divider *****/

.divider-1 { padding: 25px 0 15px 0; }
.divider-1 .line { width: 200px; margin: 0 auto; border-bottom: 1px solid #ddd; }


/***** Testimonials *****/

.testimonials-container { padding-bottom: 130px; }

.testimonial-list { margin-top: 30px; text-align: left; }

.testimonial-list .tab-pane { overflow: hidden; }

.testimonial-list .testimonial-image { float: left; width: 17%; margin: 10px 0 0 0; }
.testimonial-list .testimonial-image img {
	max-width: 120px;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}

.testimonial-list .testimonial-text { float: left; width: 83%; }
.testimonial-list .testimonial-text p { opacity: 0.8; }
.testimonial-list .testimonial-text a { color: #fff; border-bottom: 1px dotted #fff; }
.testimonial-list .testimonial-text a:hover,
.testimonial-list .testimonial-text a:focus { color: #fff; border: 0; }

.testimonial-list .nav-tabs { border: 0; text-align: right; }
.testimonial-list .nav-tabs li { float: none; display: inline-block; margin-left: 10px; margin-right: 10px; }

.testimonial-list .nav-tabs li a {
    width: 16px; height: 16px; margin: 0; padding: 0;
    background: none; border: 1px solid #fff; border-color: rgba(255, 255, 255, 0.8);
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}
.testimonial-list .nav-tabs li a:hover {
	background: #fff; background: rgba(255, 255, 255, 0.8);
    border: 1px solid #fff; border-color: rgba(255, 255, 255, 0.8);
}
.testimonial-list .nav-tabs li.active a,
.testimonial-list .nav-tabs li.active a:focus { background: #ffa456; border: 0; }


/***** Footer *****/

footer {
	padding: 30px 0;
	background: #f8f8f8;
	text-align: left;
	-moz-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset;
	-webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset;
	box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset;
}
footer a { color: #ffa456; border: 0; }
footer a:hover, footer a:focus { border-bottom: 1px dotted #ffa456; outline: 0; }

.footer-copyright {
}

.footer-social {
	text-align: right;
}
.footer-social a { margin-right: 20px; color: #bbb; }
.footer-social a:hover, .footer-social a:focus { color: #ffa456; border: 0; }
.footer-social i { font-size: 28px; vertical-align: text-top; }




/***** MEDIA QUERIES *****/

@media (min-width: 992px) and (max-width: 1199px) {

	.testimonial-list .testimonial-image { width: 20%; }
	.testimonial-list .testimonial-text { width: 80%; }

}

@media (min-width: 768px) and (max-width: 991px) {

	.section-description p { padding: 0; }

	.testimonial-list .testimonial-image { width: 25%; }
	.testimonial-list .testimonial-text { width: 75%; }

	.footer-social a { margin-right: 15px; }
	.footer-social i { font-size: 22px; }

}

@media (max-width: 767px) {

	.section-description p { padding: 0; }

	.testimonial-list .testimonial-image { float: none; width: auto; text-align: center; }
	.testimonial-list .testimonial-text { float: none; width: auto; margin-top: 30px; text-align: center; }
	.testimonial-list .nav-tabs { margin-top: 20px; text-align: center; }

    footer { text-align: center; }
    .footer-social { padding-top: 30px; text-align: center; }
    .footer-social a { margin: 0 10px; }

}

@media (max-width: 415px) {

	h1, h2 { font-size: 32px; }

}
