<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" style="margin-top:35%">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Elige entre las siguientes paletas</h4>
      </div>
      <div class="modal-body">
        <div class="col-md-4">
          <div class="palet" onclick="change_color(1);" style="background:rgb(236, 236, 236);"></div>
        </div>
        <div class="col-md-4">
          <div class="palet" onclick="change_color(2);" style="background:rgb(112, 119, 128);"></div>
        </div>
        <div class="col-md-4">
          <div class="palet" onclick="change_color(3);" style="background:rgb(209, 150, 213);"></div>
        </div><br><br><br><br><br><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Listo</button>
      </div>
    </div>

  </div>
</div>
