<div id="config" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" style="margin-top:35%">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Configuración</h4>
      </div>
      <div class="modal-body" style="margin-bottom:80px">
        <div class="col-md-6">
          <label align="center">Configure su Región</label>
          <select class="form-control" name="region" id="reg">
            <option value="1" selected>Global</option>
            <option value="332471" >Argentina</option>
          </select>
        </div>
        <div class="col-md-6">
          <label>#Hashtag</label> <i class="fa fa-question-circle" aria-hidden="true"  data-toggle="tooltip" data-placement="right" title="Escriba un hashtag que desee seguir." style="font-size: 13px;"></i>
            <div class="col-md-9">
              <div class="input-group">
                <div class="input-group-addon">
                  <span class="fa fa-hashtag"></span>
                </div>
                <input class="form-control" name="tag" id="tag">
              </div>
            </div>
            <div class="col-md-2">
              <a href="#" class="btn btn-primary" onclick="setInterval('javascript:twitter()',6000)"> Seguir</a>
            </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Listo</button>
      </div>
    </div>

  </div>
</div>
